* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 500;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fefefe;
  background: #000;
}
